@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h4 {
  font-size: 133%;
}


.table {
  margin-left: auto !important;
  margin-right: auto !important;
}


body {
  font-family: "Alegreya Sans";
  padding-top: 5rem;
  color: #495057;
}

footer, .ui {
  font-family: "Roboto" !important;
  color: #495057;
}


.table td, .table th {
  vertical-align: middle;
}
input, select, label.active, label, .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

nav {
  font-family: "Alegreya Sans";
  font-size: 2rem;
  line-height: 1;
  min-height: 4rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: normal;
  flex-grow: 1;
}


.navbar-brand:before {
  content: "OI";
  font-weight: bolder;
}


button, .badge, .btn, .input-group-addon,.form-control {
  font-family: "Roboto";
  font-weight: 400;
}



@media only screen and (min-width : 577px) {

  .navbar-brand:before {
    content: "Oculus Ilaris";
    visibility: visible;
  }

  .navbar-brand {
    visibility: hidden;
  }
}
