h1, h5 {
  font-family: "Open Sans Condensed";
  font-weight: bolder;
}

li.nav-item {
  font-weight: bolder;
}

.table {
  margin-left: auto !important;
  margin-right: auto !important;
}


body {
  font-family: "Open Sans";
}

.table td, .table th {
  vertical-align: middle;
}
input, select, label.active, label, .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
