h1, h5 {
  font-family: "Open Sans Condensed";
  font-weight: bolder;
}



.table {
  margin-left: auto !important;
  margin-right: auto !important;
}


body {
  font-family: "Open Sans";
  padding-top: 5rem;
}

.table td, .table th {
  vertical-align: middle;
}
input, select, label.active, label, .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

nav {
  font-family: "Open Sans Condensed";
  font-size: 2rem;
  line-height: 1;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: normal;
  flex-grow: 1;
}

.navbar-brand:before {
  content: "OI";
  font-weight: bolder;
}

@media only screen and (min-width : 577px) {

  .navbar-brand:before {
    content: "Oculus Ilaris";
    visibility: visible;
  }

  .navbar-brand {
    visibility: hidden;
  }
}
